nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
  background-color: #f4f4f7;
}

nav ul {
  display: flex;
  gap: 30px;
}

section {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
